body {
    background-color: lightgrey;
}

img {
    width: auto;
    height: 200px;
    margin-bottom: 5px;
}

p{
    text-align: center;
    color: maroon;
}
/* Vashti Overmiller */

/* Sydney Knauer */
img {
    border: 2pt solid #00ff00;
}