body {
    background-color: lightgrey;
}

img {
    width: auto;
    height: 200px;
    margin-bottom: 5px;
}

img{
    border: 1pt solid #707070;
}

p{
    text-align: center;
    color: maroon;
}
/* Vashti Overmiller */
